/* section {
    width: 100%;
    height: 100%;
} */

html, body {
    background: transparent;
}

html.nightMode, body.nightMode {

}

h1, p {
    cursor: default;
}

p {
    margin: 0;
}

a p{
    color: black;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

button {
    cursor: pointer;
}

.pp-tableCell {
    vertical-align: text-top;
}

/* #pp-nav {
    display: none;
}

#pp-nav{
    margin: 0 auto !important;
    left:0;
    right: 0;
    top: auto !important;
    bottom: 17px;
    display: inline-block;
}
#pp-nav li, .pp-slidesNav li{
    display: inline-block;
} */

.ui-loader {
    display: none;
}

::-webkit-scrollbar{
    display: none;
}

.fullPage {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* overflow-y: scroll; */
    width: auto;
    height: 100vh;
    touch-action: manipulation;
    z-index: 1;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    float: left;
    padding: 0.75% 2.5%;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    z-index: 2;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.scrollProgressBar {
    position: absolute;
    top: 0;
    height: 8px;
    background: #4caf50;
    width: 0%;
    border-radius: 0 4px 4px 0;
    z-index: 99;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#main {
    color: white;
    z-index: 5;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-filter: brightness(.75);
    filter: brightness(.75);
    z-index: -1;
    background-position: 30% 50%;
}

#mainImage {
    background: no-repeat 30%/auto border-box url("../mediaFiles/images/pic1.jpg");
}

#main h1 {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: flex-start;
    position: relative;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 10em;
}

.textBody {
    flex-grow: 2;
}

#main p, #intro p {
    font-size: 3.5em;
}

.sectionArrows {
    position: relative;
    background: transparent;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 2.5em;
    border: none;
    border-radius: 25%;
    outline: none;
    /* border: 1px solid black;
    border-radius: 50%; */
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.sectionArrows:focus {
    border: none;
    outline: none;
}

#mainArrow {
    display: flex;
    flex-direction: row;
    flex-grow: 0.25;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    right: 2.5%;
    bottom: 2.5%;
    padding: 0 0.25em 0 0;
    color: white;
}

#continue {
    position: relative;
    text-align: right;
    margin: 0;
    padding: 0 0.75em 0 0;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.fa-arrow-right {
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#mainRight {
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

#disabled {
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    cursor: default;
    pointer-events: none;
    text-decoration: underline;
}

#intro h1 {
    flex-grow: 1;
    font-size: 10em;
}

#intro p {
    font-size: 10em;
}

#work {
    display: block;
    padding: 2.5% 0;
    padding: 2.5% 2.5% 0% 2.5%;
    z-index: -1;
}

#work * {
    border: solid red 1px;
}

#work h1, #about h1, #contact h1 {
    position: relative;
    flex-grow: 0.25;
    font-size: 10em;
}

#work p {
    font-size: 10em;
}

.someBodyText {
    text-align: left;
}

/* .workGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    padding: 1em;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
} */

.filtr-container {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.workGridItem {
    width: 50%;
    min-height: 75vh;
    overflow: hidden;
    justify-content: space-between;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

/* .filtr-item {
    margin: 2% 1%;
} */

.workGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1em;
    position: relative;
    padding: 2.5% 0 0 0;
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.gridItem {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
    max-height: 60vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.workImage {
    display: block;
    position: relative;
    top: 0%;
    left: 0%;
    overflow: hidden;
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: cover;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.workImage:hover {
    transition: 0.3s ease-out;
}

.workGridText {
    opacity: 0;
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 0;
    height: 30%;
    text-align: center;
    margin: 0;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.workGridText > p {
    color: white;
}

.gallerySpace {
    width: 100%;
    height: 10px;
}

#workNav {
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2.5%;
    width: 100%;
    height: auto;
    background: white;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.workBackButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 0.5em;
    background: white;
    color: black;
    height: 100%;
    border: none;
    padding: 0.15em auto 0.1em auto;
}

.workBackButton p {
    cursor: pointer;
}

.workBackButton {
    outline: none;
}


.galleryFilter {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

.filterItem {
    grid-column: auto / span 1;
    justify-content: center;
    align-self: center;
    padding: 0.25em;
    width: auto;
    height: 50%;
}

.filterLabel {
    cursor: default;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.workFilters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.filter {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 1em;
    margin: 0.25em;
    padding: 0.5em;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.filterEnabled {
    background: red;
    color: white;
}

#workArrow {
    margin: 0.1em auto;
    width: 45px;
    height: 36px;
    border-radius: 0;
    font-size: 3em;
}

.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: stretch;
    padding: 0.5em;
    background: white;
    border: none;
}

.menuButton:focus {
    outline: none;
}

.menuText {
    cursor: pointer;
}

#workText {
    margin: 0;
}

#menuButton {
    opacity: 1;
    background-color: transparent;
    margin: auto 0;
    width: 45px;
    height: 36px;
    cursor: pointer;
    z-index: 3;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.bars {
    opacity: 1;
    margin: 0 0 .5em 0;
    width: 45px;
    height: 8px;
    border-radius: 14px;
    background: black;
    z-index: 3;
    transition: 0.3s ease-in-out;
}

.bars.nightMode {
    background: white;
}

#bar3 {
    margin-bottom: 0;
}

#bar1.shift{
    width: 45px;
    -webkit-transform: rotate(-45deg) translate(-12px, 8.25px);
    /*Only for min-width of 700px.*/
    transform: rotate(-45deg) translate(-9px, 8.25px);
    /*Only for min-width of 700px.*/
}

#bar2.shift{
    opacity: 0;
}

#bar3.shift{
    width: 45px;
    -webkit-transform: rotate(45deg) translate(-13.25px, -10.75px);
    /*Only for min-width of 700px.*/
    transform: rotate(45deg) translate(-13.25px, -13.75px);
    /*Only for min-width of 700px.*/
}

.hidden {
    opacity: 0.3;
    cursor: default;
}

.menuButton {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.contactText {
    font-size: 2em;
    margin-bottom: 2em;
}

.contactWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.contactButton {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    margin: 1em;
    width: 40vw;
    min-height: 20vh;
    height: auto;
    border: 3px solid black;
    border-radius: 2em;
}

.contactButton a p {
    font-size: 2em;
}

.contactIcons {
    color: black;
    font-size: 5em;
}

.portImg {
    width: 1em;
    height: 1em;
}

/* ----------------------------------------------------------- */
/* -----------------End of Default Properties----------------- */
/* ----------------------------------------------------------- */


@media screen and (max-width: 250px) {
    .sectionArrows {
        flex-direction: column;
        width: auto;
    }

    #mainArrow {
        flex-direction: column;
    }

    #main #continue {
        padding: 0;
    }
}

@media screen and (max-width: 350px) {
    #main h1 {
        flex-grow: 0.25;
        font-size: 30vw;
    }

    #main p {
        font-size: 10vw;
    }

    #intro h1 {
        font-size: 20vw;
    }

    #intro p {
        font-size: 8.5vw;
    }

    #mainArrow {
        width: 100%;
    }

    #main #continue {
        font-size: 1em;
    }

    .sectionArrows {
        font-size: 2em;
    }

    #mainImage {
        background-position: 50% 22.5%;
    }

    #work h1, #about h1, #contact h1 {
        text-align: center;
        font-size: 25vw;
    }

    #work p {
        font-size: 7.5vw;
    }

    .someBodyText {
        text-align: center;
    }

    .workBackButton, .menuButton {
        flex-direction: column;
    }

}

@media screen and (min-width: 350px) and (max-width: 475px) {
    .workBackButton, .menuButton {
        flex-direction: row;
    }
}

@media screen and (max-width: 475px) {
    .workFilters {
        flex-direction: column;
    }

    .workBackButton {
        order: 1;
        width: 50%;
    }

    .workBackButton p {
        margin: 0.25em;
        order: 1;
    }

    #workArrow {
        margin: 0.1em;
        font-size: 2.5em;
    }

    .galleryFilter {
        order: 0;
        width: 100vw;
    }

    .menuButton {
        order: 2;
        width: 50%;
        align-items: center;
    }

    #menuButton {
        margin: 0.25em;
    }
}

@media screen and (min-width: 475px) {
    #main #continue {
        font-size: 1.1em;
    }

    .galleryFilter {
        width: calc(100% - 12em);
    }

    .workFilters {
        flex-direction: row;
    }

    .workBackButton, .menuButton {
        width: 6em;
    }

}

@media screen and (min-width: 350px) and (max-width: 600px) {
    #main h1 {
        flex-grow: 0.25;
    }

    #mainBody {
        flex-grow: 3;
    }

    #main p {
        font-size: 8vw;
    }

    #intro h1, #work h1, #about h1, #contact h1 {
        font-size: 4em;
    }

    #intro p {
        font-size: 1.5em;
    }

    .sectionArrows {
        font-size: 3em;
    }

    #work p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding: 0.75% 5%;
    }
}

@media screen and (min-width: 350px) and (max-width: 475px) {
    #main h1 {
        font-size: 6em;
    }

    #mainImage {
        background-position: 45% 25%;
    }
}

@media screen and (max-width: 475px) {
    .workGallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .galleryFilter {
        flex-direction: column;
    }

    .filterItem {
        width: 100%;
        flex-grow: 1;
    }

    .workFilters {
        width: 100%;
    }

    .filter {
        padding: 0.5em;
    }

    .filterLabel {
        text-align: center;
        width: auto;
        /* max-width: 100%; */
    }
}

@media screen and (min-width: 475px) and (max-width: 600px) {
    #main h1 {
        font-size: 7.5em;
    }

    #mainImage {
        background-position: 42.5% 25%;
    }
}

@media screen and (min-width: 475px) {
    .filter{
        padding: 0.5em 1em;
        width: 33.33%;
    }

    .galleryFilter {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 600px) and (max-width: 850px) {
    #main h1 {
        font-size: 8.25em;
    }

    #main p {
        font-size: 5.75vw;
    }

    #intro h1, #work h1, #about h1, #contact h1 {
        font-size: 4.5em;
    }

    #intro p {
        font-size: 3.5vw;
    }

    #mainImage {
        background-position: 37.5% 50%;
    }

    #work p {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 850px) {

}

@media screen and (min-width: 850px) {
    #main h1 {
        font-size: 8.5em;
    }

    #main p {
        font-size: 3.25em;
    }

    /* #workNav {
        grid-template-columns: auto 4fr auto;
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1em;
        padding: 2.5%;
    } */

    .galleryFilter {
        flex-direction: row;
    }

}

@media screen and (min-width: 850px) and (max-width: 1150px){
    #intro h1, #work h1, #about h1, #contact h1 {
        font-size: 5.5em;
    }

    #intro p {
        font-size: 2.5vw;
    }

    #work p {
        font-size: 2.5vw;
    }

    .workGallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1150px) {
    #intro h1, #work h1, #about h1, #contact h1 {
        font-size: 5em;
    }

    #intro p {
        font-size: 2.5vw;
    }

    #work p {
        font-size: 2.5vw;
    }

    .workGallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
