/*Section 1 - CSS code for index.html.*/
/*Section 1.1 - Universal properties to the general page elements, links, and other miscellaneous elements.*/

/* IMPORTANT COMMENT - To automatically apply vendor prefixes for maximum browser compatibility, use Autoprefixer CSS Online: autoprefixer.github.io https://autoprefixer.github.io*/

html, header, header *, body * {
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition:  0.25s ease-in-out;
}

html {
    background-color: hsl(222, 76%, 93%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-color: hsl(222, 76%, 93%);
}

body * {
    font-family: 'Open Sans', sans-serif;
}

body *:active{
    outline: none;
}

/* body p {
    font-size: 16px;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Pro', serif;
    width: auto;
}

/* h1 {
    margin: 0em 5%;
} */

a {
    color: hsl(0, 0%, 29%);
}

a * {
    color: hsl(0, 0%, 29%);
}

a:hover {
    color: hsl(0, 0%, 0%);
}

a, a:hover {
    cursor: pointer;
    text-decoration: none;
}

/* a:hover {
    color: inherit;
} */

.ui-loader {
    display: none !important;
}

.ui-page {
    outline: none;
    width: 100%;
    min-height: 100%;
}

.notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/*END of Section 1.1.*/

/*Section 1.2 -Header and navigation elements.*/

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
    top: 0;
    margin-top: 0em;
    padding: 0.5em 0em;
    width: 100%;
    background-color: hsl(222, 76%, 93%);
    -webkit-box-shadow: 0em 0.1em 2em 0.1em hsl(222, 76%, 93%);
            box-shadow: 0em 0.1em 2em 0.1em hsl(222, 76%, 93%);
    z-index: 5;
}

.navSideBar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    width: 27%;
    height: 100vh;
    margin: 2em 0em 1em 0em;
    padding: 0em 0.5em 10em 1em;
    background-color: transparent;
    overflow-x: visible;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    text-align: left;
    box-shadow: none;
    z-index: 4;
}

.navSideBar::-webkit-scrollbar {
    display: none;
}

.navSideBar > a {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    padding-left: 0.5em;
    width: 75%;
    height: auto;
    text-align: left;
}

.navSideBar p {
    /* font-size: 14px; */
    line-height: 1.2;
}

.tableOfContents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1em;
}

.tableOfContents::after, .tableOfContents:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 120vh;
    left: 10px;
    background-color: hsl(34, 14%, 62%);
    z-index: -1;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition:  0.25s ease-in-out;
}

#artTOC::after {
    height: 532px;
}

#asceTOC::after {
    height: 45%;
}

#cineTOC::after {
    height: 760px;
}

#dlTOC::after {
    height: 437px;
}

#esTOC::after {
    height: 975px;
}

#ffTOC::after {
    height: 684px;
}

#mgTOC::after {
    height: 1050px;
}

#sgTOC::after {
    height: 779px;
}

#tclcTOC::after {
    height: 836px;
}

#ttvTOC::after {
    height: 570px;
}

#wfTOC::after {
    height: 437px;
}

#wnfTOC::after {
    height: 190px
}

#ydTOC::after {
    height: 703px;
}

#yatlTOC::after {
    height: 190px;
}

.tableOfContents.hover:after {
    background-color: hsl(31, 90%, 28%);
}

.tableOfContents li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0;
}

.navButton {
    cursor: pointer;
    margin: 0.5em 1em 0.5em 1em;
    padding: 0.5em;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    line-height: 1.6;
    background-color: transparent;
    color: hsl(0, 0%, 55%);
    border: 0.15em solid transparent;
    border-radius: 10px;
    width: auto;
}

.navButton:not(.circleSelected).hover {
    color: hsl(0, 0%, 29%);
}

.navButton::before {
    content: "";
    position: absolute;
    left: 2px;
    background-color: hsl(222, 76%, 93%);
    width: 20px;
    height: 20px;
    border: 3px solid hsl(34, 14%, 62%);
    border-radius: 50%;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition:  0.25s ease-in-out;
}

.navButton.hover::before {
    border-color: hsl(31, 90%, 28%);
}

.navButton.circleSelected::before {
    background-color: hsl(31, 90%, 28%);
    border-color: hsl(31, 90%, 28%);
}

.name {
    margin: 0.5em 0;
    height: 100%;
    cursor: pointer;
    color: hsl(214, 100%, 32%);
}

.name a{
    cursor: pointer;
    margin: 0.5em 0%;
    color: hsl(214, 100%, 32%);
    font-size: 24px;
}

.navGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.navLink {
    cursor: pointer;
    min-height: 20px;
    height: auto;
    padding: 0.5em 0.1em;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.navLink.genText1 {
    color: hsl(214, 100%, 32%);
}



.navLink.selected, .selected:hover, .workButton.selected, .workButton.selected:hover {
    border: 0.1em solid transparent;
    background-color: hsl(214, 100%, 32%);
    color: hsl(0, 0%, 95%);
    -webkit-box-shadow: 0em 0.1em 0.5em 0.1em hsl(214, 100%, 32%);
            box-shadow: 0em 0.1em 0.5em 0.1em hsl(214, 100%, 32%);
}

.navLink:hover, .navButton:hover {
    color: hsl(214, 100%, 32%);
    -webkit-box-shadow: 0em 0.5em 1.5em -0.25em hsl(0, 0%, 29%);
            box-shadow: 0em 0.5em 1.5em -0.25em hsl(0, 0%, 29%);
}

.workButton.selected:hover {
    color: hsl(214, 100%, 32%);
    -webkit-box-shadow: 0em 0.1em 0.5em 0.1em hsl(214, 100%, 32%);
            box-shadow: 0em 0.1em 0.5em 0.1em hsl(214, 100%, 32%);
}

.navLink.selected:hover {
    color: hsl(0, 0%, 95%);
    -webkit-box-shadow: 0em 0.5em 1.5em -0.25em hsl(214, 100%, 32%);
            box-shadow: 0em 0.5em 1.5em -0.25em hsl(214, 100%, 32%);
}

@media screen and (max-width: 250px) {
    /* .name {
        font-size: 24px;
    } */

    .navLink {
        margin: 0.25em;
        padding: 0.4em 0.1em;
        width: 90%;
    }
}

@media screen and (min-width: 250px) and (max-width: 475px) {
    .navGroup {
        margin: 0em;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .navLink {
        margin: 0.5em 0.25em;
        padding: 0.35em 0.1em;
        width: 42.5%;
    }
}

@media screen and (max-width: 475px) {
    .navGroup {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (min-width: 475px) and (max-width: 750px) {
    .navGroup {
        margin: 0em 5%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .navLink {
        margin: 2% 0em;
        width: 22.5%;
    }

    #leftLink {
        margin-left: 0em;
    }

    #rightLink {
        margin-right: 0em;
    }
}

@media screen and (max-width: 750px) {
    nav {
        position: relative;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .name {
        width: 100%;
    }

    .navGroup {
        width: 100%;
    }

    .navLink {
        border-radius: 1em;
    }

    .selected {
        -webkit-box-shadow: 0em 0.5em 1.5em -0.25em 0.1em #100e17;
                box-shadow: 0em 0.5em 1.5em -0.25em 0.1em #100e17;
    }

    .navLink:hover {
        /* border: 0.025em solid transparent; */
        -webkit-box-shadow: 0em 0.5em 1.5em -0.25em #100e17;
                box-shadow: 0em 0.5em 1.5em -0.25em #100e17;
    }
}

@media screen and (min-width: 750px) {
    nav {
        position: fixed;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .name {
        width: auto;
        margin: 0em 0em 0em 5%;
    }

    .navGroup {
        margin: 0em 5% 0em 0em;
        max-width: 650px;
        border: none;
        width: 47.50%;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .navLink {
        margin: 0.5em;
        width: 21%;
        border: 0.1em solid transparent;
        border-radius: 1em;
    }

    .selected {
        background-color: hsl(0, 0%, 29%);
        color: white;
        border: 0.1em solid transparent;
    }

    #leftLink {
        margin-left: 0em;
    }

    #rightLink {
        margin-right: 0em;
    }

    .navSideBar {
        display: block;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    .navGroup {
        width: 65%;
    }
}

@media screen and (max-width: 1000px) {
    .navSideBar {
        display: none;
    }
}

/*END of Section 1.2.*/

/*Section 1.3 - Body elements.*/

section, footer {
    display: inline-block;
    position: relative;
    margin: 0em 5%;
}

.introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: auto;
}

.introduction h1 {
    width: 100%;
}

/* .introduction, .beginning {
    padding-bottom: 2em;
} */

.workDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.workDescription h3 {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.workDescription p {
    -ms-flex-item-align: start;
        align-self: flex-start;
    line-height: 1.6;
    height: 60%;
    margin-bottom: 0.5em;
}

.contact {
    margin: 0em 5%;
}

.homeImage a {
    overflow: hidden;
}

.homeImage a img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.work, #aboutMe, .caseStudySol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 3;
}

.caseStudySol {
    /* margin-bottom: 3em; */
    vertical-align: middle;
}

.sectionMargin {
    margin: 0 5%;
}

.work * {
    /* -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch; */
    /* margin-bottom: 3em; */
}

.workHeading {
    padding-bottom: 4em;
}

.workIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: middle;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 5%;
    z-index: 4;
}

.workIntro, .workIntro *:not(.workButton) {
    -webkit-transition: 0s ease-in-out;
    -o-transition: 0s ease-in-out;
    transition:  0s ease-in-out;
}

.stickyButtons {
    text-align: center;
    width: 100%;
}

.stickyButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#aboutMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 5%;
}

.caseStudySol > * {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.gridItem, .imageSlideshow, .imageContainer  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin: 0em 0em;
    /* margin: 5% 0em 10% 0em; */
    /* padding: 1em 0em; */
    /* border: 0.1em solid black; */
    vertical-align: baseline;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* border: 0.1em solid black; */
    border-radius: 25px;
}

.gridItem .designImage {
    height: 75vh;
}

.imageContainer {
    width: 47.5%;
}

.imageSlideshow, .imageGroup img {
    cursor: pointer;
}

#WaynePhung {
    border-radius: 25px;
    overflow: visible;
    height: 100%;
    -webkit-box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
            box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
}


.gridItem {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin-bottom: 3em;
    width: 47.5%;
    background-color: hsl(0, 0%, 95%);
    -webkit-box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
            box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
}

.gridItem:hover {
    cursor: pointer;
    -webkit-transform: scale(1.075, 1.075);
        -ms-transform: scale(1.075, 1.075);
            transform: scale(1.075, 1.075);
    -webkit-box-shadow: 0em 0.25em 2.5em -1em hsl(0, 0%, 29%);
            box-shadow: 0em 0.25em 2.5em -1em hsl(0, 0%, 29%);
}

.gridItem a {
    overflow: hidden;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: auto;
    border-radius: 25px 25px 0px 0px;
}

.gridItem h3{
    text-align: center;
    /* font-size: 30px; */
    /* height: 30%; */
    /* min-height: 75px; */
}

/* .gridItem img {
    width: 100%;
    height: auto;
    object-fit: contain;
} */

.designImage {
    width: 100%;
    height: 25em;
    -o-object-fit: cover;
       object-fit: cover;
}

#formfactories {
    -o-object-position: 50% 40%;
       object-position: 50% 40%;
}

#designLeap {
    -o-object-position: 0% 10%;
       object-position: 0% 10%;
    /* -webkit-filter: brightness(150%);
    filter: brightness(150%); */
}

#cinemunch {
    -o-object-position: top;
       object-position: top;
}

.media {
    width: 100%;
    min-height: 50%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
}

.imageSlideshow img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

.gridItem img, .imageSlideshow img, .imageGroup img {
    border-radius: 25px 25px 0px 0px;
}

/* .imageContainer {
    border-radius: 25px;
} */

/* .backgroundImage:first-of-type {
    border-radius: 25px 25px 0px 0px;
} */

/* #ttvReel {
    object-fit: cover;
} */

.imageGroup {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 2em 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em 2em;
    vertical-align: middle;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    align-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: visible;
    width: 100%;
}

.imageGroup > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.imageGroup > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.imageGroup > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.imageGroup > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.imageGroup figure {
    margin-bottom: 0em;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    overflow: hidden;
    border-radius: 25px;
    -webkit-box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 33%);
            box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 33%);
}

.imageGroup figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

#careerCenter {
    /* -o-object-fit: cover;
       object-fit: cover; */
    -webkit-filter: saturate(2);
    filter: saturate(2);
}

#parkinsonsDesignCompetition {
    width: 100%;
    -o-object-position: left;
       object-position: left;
}

#hyundaiStudentTeam, #dsgn100 {
    -o-object-fit: cover;
       object-fit: cover;
}

#cpep {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}

#corgantTeam {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
}

.caseStudyIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 2em;
    width: 100%;
}

.projectTitle, .tags {
    width: 100%;
}

.projectTitle {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* text-align: center; */
    margin: 0.5em 0em;
    width: 100%;
}

.tags {
    text-align: center;
}

.gridItem h6 {
    margin-bottom: 1em;
}

.gridItem p {
    padding: 0em 5%;
    margin-bottom: 5%;
}

.greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.imageContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
            box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
    z-index: 3;
}

figcaption {
    padding: 0.5em;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 29%);
    width: 100%;
    /* border-radius: 0px 0px 25px 25px; */
    text-align: center;
    z-index: 4;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 2;
}

.work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5% 5%;
    /* padding-top: 2em; */
}

/* .noMargin {
    margin-left: 0;
}

.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 3px #ccc solid;
    border-radius: 50%;
} */

/* .navSideBar > a::after, .navSideBar > a:after {
    content: "";
    position: absolute;
    z-index: 5;
    left: 0em;
    align-self: center;
    margin-top: 0.5em;
    padding: 0.25em;
    width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	border: 3px #ccc solid;
} */

/* .navSideBar > a::before, .navSideBar > a:before {
   content: "";
   position: absolute;
   z-index: 3;
   left: 8px;
   border-left: 3px #ccc solid;
   transform: translateY(20px);
} */

/* .navButton:last-of-type::after {
    border-left: none;
} */

/* .navButton, .navSideBar > a::before, .navSideBar > a:before, .navSideBar > a::after, .navSideBar > a:after {
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition:  0.25s ease-in-out;
} */

/* .navSideBar > a.circleSelected::before, .navSideBar > a.circleSelected:before, .navSideBar > a.circleSelected::after, .navSideBar > a.circleSelected:after {
    background: red;
    border-color: blue;
} */


/* .navSideBar > a::after:hover, .navSideBar > a:after:hover {
    background: red;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition:  0.25s ease-in-out;
} */
/* .navButton:hover {
    color: blue;
} */

.navSelected {
    padding-left: 0.25em;
    font-weight: 900;
    font-size: 18px;
    color: hsl(31, 90%, 28%);
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin: 0em 0em;
    height: auto;
    /* overflow-y: scroll; */
}

.content::-webkit-scrollbar {
    opacity: 0;
}

/* .section {
    font-size: 2.5em;
} */

.button {
    cursor: pointer;
    min-height: 30px;
    height: auto;
    margin: 0em 2em 1em 0em;
    padding: 1em 1.5em;
    background-color: transparent;
    color: hsl(0, 0%, 29%);
    border: 0.15em solid #707070;
    border-radius: 1em;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.button:hover {
    background-color: hsl(0, 0%, 29%);
    color: white;
    border: 0.15em solid transparent;
    -webkit-box-shadow: 0em 1em 1.5em -0.25em hsl(0, 0%, 33%);
            box-shadow: 0em 1em 1.5em -0.25em hsl(0, 0%, 33%);
}

.workButton {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: center;
    margin: 0em 0em 1em 0em;
    padding: 0.5em 1em;
}

.workButton:hover {
    background-color: transparent;
    color: hsl(0, 0%, 29%);
    border: 0.15em solid #707070;
    -webkit-box-shadow: 0em 0.5em 1.5em -0.25em #100e17;
            box-shadow: 0em 0.5em 1.5em -0.25em #100e17;
}

.workButton.selected:hover {
    -webkit-box-shadow: 0em 0.5em 1.5em -0.25em #100e17;
            box-shadow: 0em 0.5em 1.5em -0.25em #100e17;
}

.workButton.selected {
    -webkit-box-shadow: 0em 0.1em 0.5em 0.1em #100e17;
            box-shadow: 0em 0.1em 0.5em 0.1em #100e17;
}

.resumeButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.viewResume {
    width: 90%;
}

.embedResume {
    width: 100%;
    height: 90vh;
}

footer {
    margin: 1em 5%;
    margin-bottom: 2em;
    width: 90%;
}

footer * {
    color: hsl(0, 0%, 29%);
}

#viewCV {
    margin: 1em 5%;
    width: 90%;
}

.externalLink {
    font-weight: bold;
    color: hsl(31, 90%, 28%);
    text-decoration: underline;
}

.externalLink:hover {
    color: hsl(214, 100%, 32%);
    text-decoration: none;
}

.video {
    display: inline-block;
    position: relative;
    margin-top: 2em;
	padding-bottom: 56.25%;
    width: 100%;
	height: 0;
}

.video iframe {
    position: absolute;
	top: 0;
	left: 0;
}

.mediaContent {
    margin-top: 0;
    padding-top: 0;
}

.videoSeries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: top;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
}

.bodyContent {
    margin: 0em 0em 0.5em 3em;
}

.subheading {
    line-height: 1.4;
}

/* .mentorNames {
    margin-left: 3em;
} */

.bodyContentFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: top;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.bodyGrid, .bodyGrid1, .intro, #pivotIdeas {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: visible;
}

.bodyGrid, #pivotIdeas {
    grid-gap: 3em 3em;
    margin: 1.5em 0em 3em 0em;
}

#pivotIdeas {
    -ms-grid-columns: 1fr 3em 1fr;
    grid-template-columns: 1fr 1fr;
}

#formfactoriesMain {
    /* -o-object-fit: contain;
       object-fit: contain; */
   width: 100%;
   height: 90%;
   -o-object-position: 50% 50%;
      object-position: 50% 50%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.bodyGrid1 {
    grid-gap: 1em 1em;
    margin: 0em 0em;
}

.imageTile {
    width: 100%;
    height: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-radius: 25px;
    -webkit-box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
            box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
    overflow: hidden;
}

.defaultBackground {
    background-color: hsl(0, 0%, 95%);
}

.svgPadding {
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    height: auto;
    /* padding: 1em; */
}

.gifTile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 3em;
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 25px;
    -webkit-box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
            box-shadow: 0em 0.25em 1.5em -0.25em hsl(0, 0%, 29%);
    overflow: hidden;
}

/* .gifTile img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
} */

.autoplayVideo {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
    height: auto;
}

.vidControlsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    margin: 0.5em 0;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
}

.vidControlsContainer button {
    background-color: transparent;
    margin: 0em 0.5em;
    padding: 0.5em;
    width: 200px;
    height: 50px;
    color: hsl(214, 100%, 32%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 0.1em solid hsl(214, 100%, 32%);
    border-radius: 1em;
}

.vidControlIcon {
    margin: 0em 0.25em 0em 0em;
    height: 100%;
}

.iteration1Play, .iteration3Play, .iteration5Play, .textGraphic {
    width: 50%;
}

#coloredText1, #coloredText2, #colorCollage {
    width: 100%;
}

#rainbowStockFootage {
    -o-object-fit: fill;
       object-fit: fill;
    height: 250px;
    width: 100%;
}

.marginLeft {
    margin-left: 3em;
}

/* .grid4 {
    align-self: stretch;
} */

.stretch {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

#esPoster {
    height: auto;
}

#secondaryResearch1 {
    min-height: 300px;
    height: 100%;
    -o-object-position: top;
       object-position: top;
}

#interview1 {
    height: auto;
    -o-object-position: right;
       object-position: right;
}

#interview2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#interview3 {
    /* height: 100%; */
    -o-object-position: top;
       object-position: top;
}

#journeyMap1 {
    height: auto;
    -o-object-position: top;
       object-position: top;
}

#journeyMap3 {
    min-height: 400px;
    height: 100%;
}

/* table {
    table-layout: fixed;
    width: 100%;
}

tr > *:first-child {
    padding: 1em 1em;
    width: 50%;
}

tr:first-of-type > th {
    text-align:
}

tr:last-child {
 border-bottom: none;
} */

ul {
  list-style-type: none;
  margin: 0em 0em 0em 2em;
  padding: 0em 0em 0.5em 0em;
}

li {
    margin-bottom: 1em;
}

#designSprint3 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.noBottom {
    margin-bottom: 0em;
}

.marginBottom {
    margin-bottom: 3em;
}

.span2, .allSpan * {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.gridType1 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.gridType2 {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
}

.gridType3 {
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
}

.gridType4 {
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
}

.strideImageGrid .imageTile {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    min-height: 300px;
    height: 100%;
    margin: 0em 0em;
}

.findings.last, .insights.last {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.solutionIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    margin-bottom: 3em;
}

.intro {
    grid-gap: 1em 1em;
    margin: 0 5%;
}

.intro section {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0em 0em;
}

/* .intro p {
    font-size: 1.5em;
} */

.objectRight {
    -o-object-position: right;
       object-position: right;
}

.youTube, .gDrive {
    width: 100%;
    height: 100%;
    border: none;
}

.gridGapSmall {
    grid-gap: 1.5em 1.5em;
}

/* #ffIntro {
    margin: 0em 0em;
} */

/* #ffIntro section {
    margin: 0em 5%;
} */

#ffImgContainer {
    width: 100%;
    height: 100%;
    overflow: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
}

#pivotVote {
    height: auto;
}

#pivotProblems {
    margin-bottom: 3em;
}

@media screen and (max-width: 200px) {
    /* .introduction, .beginning {
        padding-top: 45vh;
    } */

    /* .navSideBar {
        margin-top: 45vh;
    } */

    .workButton {
        width: 100%;
    }
}

@media screen and (min-width: 200px) and (max-width: 475px) {
    /* .introduction, .beginning {
        padding-top: 29.75vh;
    } */

    /* .navSideBar {
        margin-top: 29.75vh;
    } */

    .workButton {
        width: 47.5%;
    }
}

@media screen and (max-width: 475px) {
    /* .backgroundImage {
        object-fit: cover;
    } */

    .workIntro {
        margin: 0 5%;
    }

    .workButton {
        margin: 0em 0em 1em 0em;
    }

    .overviewGrid .marginLeft {
        margin-left: 2em;
    }

    .overviewGrid h3, .overviewGrid p {
        margin-left: 10%;
    }

    .bodyContent {
        margin-left: 1em;
    }
}

@media screen and (min-width: 475px) {
    .flexItem1 {
        width: 55%;
    }

    .flexItem2 {
        width: 35%;
    }

    .overviewGrid .marginLeft {
        margin-left: 1em;
    }
}

@media screen and (min-width: 475px) and (max-width: 750px) {
    /* .introduction, .beginning {
        padding-top: 22.5vh;
    } */

    /* .navSideBar {
        margin-top: 22.5vh;
    } */

    /* .design h3 {
        font-size: 42px;
    } */

    .introduction {
        width: 75%;
    }

    /* .introduction p {
        font-size: 20px;
    } */

    .workDescription {
        margin: 1em 0 2em 0;
        width: 45%;
    }

    .overviewGrid h3, .overviewGrid p {
        margin-left: 10%;
    }

    #matImage {
        -o-object-fit: fill;
           object-fit: fill;
        -webkit-transform: translateY(-7.5em) scaleX(1.1) scaleY(1.5);
            -ms-transform: translateY(-7.5em) scaleX(1.1) scaleY(1.5);
                transform: translateY(-7.5em) scaleX(1.1) scaleY(1.5);
    }
}

@media screen and (max-width: 750px) {
    .work {
        padding-top: 2em;
    }

    .workButton {
        width: auto;
    }

    .overviewGrid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        grid-gap: 1.5em 0em;
    }

    .overviewGrid .subheading {
        width: 100%;
    }

    .overviewGrid * {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        grid-gap: 1em 1em;
    }

    .overviewGrid p:not(.mentorNames) {
        margin-bottom: 2.5em;
        margin-top: 0em;
    }

    .mentorNames {
        margin-bottom: 1em;
    }

    .bodyGrid:not(.overviewGrid) *, .bodyGrid1 {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    .intro {
        margin-top: 2em;
    }

    .intro * {
        width: 100%;
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    /* .gridItem h3 {
        font-size: 42px;
    } */

    .projectTitle.design {
        margin: 0.5em 0 0.25em 0;
        padding: 0% 5%;
        /* font-size: 36px; */
    }

    .imageContainer {
        position: relative;
        width: 100%;
        height: 75vh;
    }

    #aboutMe > * {
        margin: 0em 0em 3em 0em;
    }

    .imageGroup figure {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    /* .imageGroup img {
        margin: 0.75em 0em;
    } */

    .content {
        width: 100%;
    }

    image iframe {
    	width: 100%;
    	height: 100%;
    }

    .bodyGrid {
        margin: 1.5em 0em 3em 0em;
    }

    .gridGapSmall {
        grid-gap: 1.5em 1.5em;
    }

    .marginLeft {
        margin-left: 1em;
    }

    #pivotIdeas {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .pivotList {
        width: 100%;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

    #pollImage {
        margin: 0em auto;
        width: 50%;
    }

    #pivotVote {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        height: auto;
    }

    #formfactoriesMain {
        -o-object-position: 50% 50%;
           object-position: 50% 50%;
    }

    .iteration1Play, .iteration3Play, .iteration5Play, .textGraphic {
        width: 100%;
    }
}

@media screen and (min-width: 750px) {

    .greeting {
        width: 100%;
    }

    .greeting p {
        width: 100%;
        margin-right: 20%;
    }

    .introduction p {
        margin: 0% 5% 2.5% 0%;
    }

    .introduction, .beginning {
        padding-top: 17vh;
    }

    /* .opening {
        min-height: 80vh;
    } */

    /* .projectTitle {
        margin-bottom: 1em;
    } */

    .gridItem a {
        height: auto;
    }

    .workDescription {
        margin: 2em 4em 2em 0;
        width: 40%;
    }

    .workButton {
        width: 47.5%;
        /* max-width: 150px; */
    }

    .intro {
        grid-gap: 3em 3em;
    }

    .navSideBar {
        padding-top: 70px;
        max-width: 250px;
    }

    .content {
        padding-top: 7vh;
    }

    .overviewGrid h3 {
        margin-left: 20%;
    }

    .workIntro {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-bottom: 4em;
    }

    /* .introduction p {
        width: 45%;
    } */

    /* .introduction {
        width: 45%;
    } */

    #aboutMe > * {
        margin: 0em 0em 3em 0em;
    }

    .introImage {
        width: 47.5%;
    }

    .caseStudyIntro h1 {
        width: 100%;
    }

    .caseStudyIntro p {
        width: 100%;
        margin-right: 2em;
        /* font-size: 20px; */
    }

    /* .beginning, .mediaStudy {
        min-height: 80vh;
    } */

    .mediaStudy p {
        width: 60%;
    }

    .seeProcess {
        /* margin: 0.5em 0;
        padding: 1em 0; */
        margin-right: 70%;
        width: auto;
    }

    .backgroundImage {
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }

    #dLeapImage {
        -o-object-position: 50% 0%;
           object-position: 50% 0%;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }

    /* .imageGroup img {
        margin: 1.5em 0em;
    } */

    /* .contact {
        font-size: 22px;
    } */

    .video {
        width: 100%;
    	height: 75%;
    }


    .video iframe {
    	width: 75%;
    	height: 75%;
    }

    .video iframe.videoDraft {
        width: 100%;
        height: 100%;
    }

    .videoSeries {
        width: 80%;
    }

    #mindMap {
        -webkit-transform: scale(1.25);
            -ms-transform: scale(1.25);
                transform: scale(1.25);
    }

    .stretch {
        -o-object-fit: cover;
           object-fit: cover;
    }

    #grid4Last {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    #insightsText {
        margin-left: 0em;
    }

    .insights p {
        margin-left: 3em;
    }

    /* #grid8 .imageTile {
        grid-column: span 1;
    } */

    .bodyGrid {
        grid-gap: 3em 3em;
    }

    .gridGapSmall {
        grid-gap: 1.5em 1.5em;
    }

    /* .imageContainer {
        min-height: 75vh;
    } */

    .overviewGrid .subheading, .overviewGrid p {
        margin-bottom: 0em;
    }

    .overviewGrid p {
        margin-top: 7px;
        -ms-flex-item-align: baseline;
            align-self: baseline;
    }

    .pivotList {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }

    #pivotVote {
        height: auto;
    }
}

@media screen and (min-width: 750px) and (max-height: 450px){
    nav {
        position: relative;
    }

    .introduction, .beginning {
        padding-top: 2vh;
    }

    .navSideBar {
        top: 10%;
    }

    .videoSeries {
        width: 100%;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px){
    #matImage {
        -webkit-transform: scale(1.25);
            -ms-transform: scale(1.25);
                transform: scale(1.25);
    }

    .introImage {
        height: 50%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: 50% 50%;
           object-position: 50% 50%;
    }

    /* .caseStudyIntro p {
        font-size: 20px;
    } */

    /* #greeting {
        font-size: 50px;
    } */

    .introduction p {
        width: 75%;
    }

    /* .gridItem h3{
        font-size: 36px;
    } */
}

@media screen and (max-width: 1000px) {
    /* .imageContainer {
        height: 50%;
        max-height: 650px;
    } */

    .gridItem {
        width: 100%;
    }

    .imageSlideshow, .imageGroup img {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    #WaynePhung {
        width: 100%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .introText {
        width: 100%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}

@media screen and (min-width: 1000px){
    .gridItem .projectTitle{
        /* font-size: 42px; */
        /* margin-bottom: 1em; */
    }

    /* .projectTitle.design {
        height: 72px;
        margin-bottom: 1em;
    } */

    /* .design h3 {
        font-size: 42px;
    } */

    .introduction p {
        width: 60%;
    }

    .introImage {
        height: 40%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: 50% -50%;
           object-position: 50% -50%;
    }

    .introText {
        width: 47.5%;
    }

    /* .caseStudyIntro, .imageContainer {
        width: 45%;
    } */

    /* .caseStudyIntro p {
        font-size: 26px;
    } */

    /* .imageContainer {
        width: 50%;
        height: 50%;
    } */

    #formIntro {
        width: 40%;
    }

    #formFactoriesPic {
        width: 55%;
    }

    #matImage {
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
    }

    /* #greeting {
        font-size: 64px;
    } */

    .navSideBar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100vh;
    }

    /* .content {
        width: 67.5%;
    } */

    .imageGroup img {
        width: 100%;
    }

    .overviewGrid {
        grid-gap: 1.5em 0.5em;
    }

    .strideProblem, .strideResearch {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

/* @media screen and (min-width: 1000px) and (max-width: 1100px){
    .gridItem h3{
        font-size: 36px;
    }
} */

@media screen and (min-width: 1000px) and (max-width: 1200px){
    .introText {
        width: 45%;
    }

    #aboutMe .imageSlideshow {
        width: 50%;
    }
}
@media screen and (min-width: 1010px) and (max-width: 1200px){
    .content {
        width: 72.5%;
    }
}

@media screen and (max-width: 1200px){
    .strideResearch * {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
}

@media screen and (min-width: 1200px){
    .content {
        width: 75%;
    }

    .strideResearch {
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    }

    .projectTitle {
        padding: 1.5% 5%;
    }

    .introText {
        width: 35%;
    }

    #aboutMe .imageSlideshow {
        width: 60%;
    }

    .imageSlideshow {
        width: 47.5%;
    }
}

@media screen and (max-width: 1300px){

    #dLeapQs, #dotVoting {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    #ffIntro * {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
}

/* ///////////START of Visual Style Guide CSS////////// */

.flexIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.visStyle {
    margin-bottom: 1em;
    width: 100%;
    font-size: 30px;
}

.visStyleSection {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.flexIntro ul {
    width: 100%;
    margin-left: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 0;
}

.flexIntro ul li{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2em 1fr;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em 2em;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
}

.fontSize {
    font-size: 16px;
}

.mainHeading, .sectionHeadings, .subsectionHeadings, .caseBigTitle, .caseStudy {
    color: hsl(214, 100%, 32%);
}

.mainHeading {
    font-size: 70px;
    margin: 0.75em 0;
}

.sectionHeadings {
    font-size: 48px;
    line-height: 1.6;
}

.subsectionHeadings {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.caseBigTitle {
    font-size: 85px;
}

.caseStudy {
    font-size: 42px;
}

.caseTags {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
}

.imageCaption {
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
}

.largeText {
    font-size: 24px;
}

.boldText {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: hsl(31, 90%, 28%);
    font-size: 18px;
}

.largeText, .genText1, .genText2, .genText3 {
    color: hsl(0, 0%, 29%);
}

.genText1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
}

.genText2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 16px;
}

.genText3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
}

/* .navText {
    font-size: 14px;
} */

@media screen and (max-width: 475px) {
    /* .flexIntro ul li, .flexIntro ul li * {
        grid-column: span 2;
    } */
}

@media screen and (max-width: 750px) {
    /* .flexIntro ul li{
        grid-column: span 2;
    } */

    .flexIntro ul li, .flexIntro ul li * {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
}

@media screen and (min-width: 750px) {
    .flexIntro ul li {
        -ms-grid-columns: 2fr 2em 1fr;
        grid-template-columns: 2fr 1fr;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .mainHeading {
        margin: 0 0 0.75em 0;
    }
}

@media screen and (min-width: 1000px) {
    .flexIntro ul li {
        -ms-grid-columns: 2fr 2em 3fr;
        grid-template-columns: 2fr 3fr;
    }
}

@media screen and (min-width: 750px) {

    .flexIntro ul li {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
}

/* ///////////END of Visual Style Guide CSS////////// */
