/* Code below is adapted from "liveDemoPage.css."
The next section will begin after a statemeent that
explicitly says the end of this section. */

/* ----------START OF liveDemoPage.css section.---------- */

html, body {
    width: 100%;
    overflow-x: hidden;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

html.nightMode {
    background: black;
}

body {
    background-color: transparent;
    word-wrap: break-word;
}

.ui-loader {
    display: none;
}

/* .whileLoad * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} */

:focus {
    outline: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menuWrapper {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

#mainMenu {
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto;
    grid-gap: 1.5% 1.5%;
    position: fixed;
    top: 0;
    left: 7.5%;
    padding: 0.25% 3.5% 1.25% 0;
    margin: 0;
    width: 90%;
    min-height: 25px;
    height: 0;
    align-items: center;
    z-index: 1;
    transform: translateY(-200px);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#mainMenu.translate {
    opacity: 1;
    height: 80px;
    transform: translateY(0px);
    z-index: 4;
}

#menuList {
    grid-column: 1/8;
    opacity: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    color: black;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#menuList > a:not(#disabled).nightMode {
    color: white;
}

.listItem {
    text-align: center;
    margin: 0 3%;
    width: auto;
    font-size: 1em;
    color: black;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

#disabled {
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    cursor: default;
    pointer-events: none;
    text-decoration: underline;
}

#toggleModes {
    opacity: 0;
    grid-column: 9/13;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: black;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#toggleModes.nightMode {
    color: white;
}

.sliderGroup {
    margin: 5% 5%;
    justify-content: center;
    text-align: center;
}

.sliderGroup > p {
    margin-bottom: 0;
}

.toggleSlider, #switchPill {
    width: 75px;
    height: 45px;
    margin: 0 0;
}

.toggleModes {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 60px;
    z-index: 2;
}

.toggleModes input {
    display: none;
}

.toggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 75px;
    height: 45px;
    background-color: #ccc;
    border-radius: 30%/50%;
    z-index: 2;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.toggleSlider:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: white;
    border-radius: 50%/50%;
    vertical-align: middle;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
 }

 input:checked + .toggleSlider:before {
    -webkit-transform: translateX(65%);
    -ms-transform: translateX(65%);
    transform: translateX(65%);
 }

 input:checked + .toggleSlider {
    background-color: rgb(2, 79, 206);
 }

 input:focus + .toggleSlider {
    box-shadow: 0 0 1px rgb(2, 79, 206);
 }

 .fas {
     font-size: 1.75em;
 }

#tabRibbon {
    display: grid;
    grid-template-columns: 45px repeat(6, 2fr) repeat(5, 1fr);
    grid-template-rows: 45px;
    grid-gap: 3% 3%;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    padding: 1em 2em 1em 1em;
    margin-right: 2%;
    width: 100%;
    min-height: 25px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
    /* white-space: nowrap; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    transform: translateY(0px);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#tabRibbon.navUp, #mainMenu.navUp {
    transform: translateY(-20vh);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#tabRibbon.nightMode {
    background-color: rgba(0, 0, 0, 0.8);
}

#tabRibbon.transparentBG, #tabRibbon.transparentBG.nightMode {
    background-color: transparent;
}

.mainContainer {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.mainCell {
    align-self: flex-start;
}

#main1 {
    grid-column: 1/2;
}

#main2 {
    grid-column: 10/13;
    width: auto;
}

#menuButton {
    grid-column: 1/2;
    opacity: 1;
    background-color: transparent;
    margin: auto 0;
    width: 45px;
    height: 36px;
    margin: auto 0;
    cursor: pointer;
    border-radius: 14px;
    z-index: 5;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.bars {
    opacity: 1;
    margin: 0 0 .5em 0;
    width: 45px;
    height: 6px;
    border-radius: 14px;
    background: black;
    z-index: 3;
    transition: 0.3s ease-in-out;
}

.bars.nightMode {
    background: white;
}

#bar3 {
    margin-bottom: 0;
}

#bar1.shift{
    width: 45px;
    -webkit-transform: rotate(-45deg) translate(-8.75px, 8px);
    /*Only for min-width of 700px.*/
    transform: rotate(-45deg) translate(-10px, 9.25px);
    /*Only for min-width of 700px.*/
}

#bar2.shift{
    opacity: 0;
}

#bar3.shift{
    width: 45px;
    -webkit-transform: rotate(45deg) translate(-8.5px, -10.25px);
    /*Only for min-width of 700px.*/
    transform: rotate(45deg) translate(-8.5px, -9.5px);
    /*Only for min-width of 700px.*/
}

.name {
    opacity: 1;
    top: 2.5%;
    right: 2.5%;
    margin: auto 0;
    justify-content: flex-end;
    text-align: right;
    font-size: 1.5em;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.name.translate {
    transform: translateY(-200px);
}

.name > a {
    margin: 0 0;
    color: black;
}

.name > a.nightMode {
    color: white;
}

.name a p {
    margin: 0 0;
}

button {
    margin: 0 0;
    cursor: pointer;
    word-wrap: break-word;
}

button:focus {
    outline: none;
}

p {
    margin: 0;
    color: black;
    word-wrap: break-word;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

p.nightMode {
    color: white;
}

::-webkit-scrollbar{
    display: none;
}




/* -------START of Media Queries from liveDemoPage.css------- */

@media screen and (max-width: 249px) {
    #tabRibbon {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1em 1em;
        padding: 1em 1em;
        width: 100%;
        height: auto;
    }

    .name {
        font-size: 1.1em;
    }
    .listItem, #toggleModes {
        padding: 0.5em 0.5em;
        justify-content: center;
    }

    .listItem {
        font-size: 1.5em;
    }

    #toggleModes {
        font-size: 1em;
    }

}

@media screen and (min-width: 250px) and (max-width: 650px) {

    #tabRibbon {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 2em 1em;
        padding: 1em 1em;
        width: 100vw;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition:  0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition:  0.3s ease-in-out;
    }

    .tabItem {
        width: 100%;
    }

    .name {
        grid-column: 2/13;
    }

    .listItem {
        font-size: 2em;
        padding: 0.5em 0.5em;
    }

    #toggleModes {
        grid-column: 1/-1;
        margin: 1em 1em;
        font-size: 1.25em;
        justify-content: center;
    }

    .tabContent {
        padding: 10em 1em 2.5% 1em;
        /* touch-action: pan-x; */
    }

}

@media screen and (max-width: 650px) {

    #tabRibbon.disableScroll {
        overflow-y: hidden;
    }

    #tabRibbon.expandMenu {
        height: 100vh;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition:  0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition:  0.3s ease-in-out;
    }

    #main1 {
        grid-column: 1/3;
    }

    #main2 {
        grid-column: 3/7;
    }

    .menuWrapper {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }

    #mainMenu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 90vh;
        padding: 0 0;
        justify-content: center;
        transform: translateY(-100vh);
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition:  0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition:  0.2s ease-in-out;
    }

    #mainMenu.translate {
        top: 10%;
        transform: translateY(0px);
    }

    #menuList {
        grid-column: 1/-1;
        margin: 1em 0;
        flex-direction: column;
        vertical-align: middle;
    }

    .fas {
        font-size: 1.25em;
    }

    .mainBodyWrapper.blur {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

@media screen and (min-width: 651px) and (max-width: 830px) {

    #mainMenu {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 2fr;
        grid-gap: 3% 3%;
        padding: 0 1.5em 1em 0.5em;
        justify-content: center;
    }

    .listItem {
        width: auto;
    }

    #menuList {
        grid-column: 1/-1;
        justify-content: flex-start;
    }

    #toggleModes {
        grid-column: 1/6;
        justify-content: left;
    }

}

@media screen and (min-width: 651px) {

    #menuButton {
        position: absolute;
        top: 25%;
    }

    #menuList {
        font-weight: 600;
    }

}

@media screen and (min-width: 831px) {

    #menuList {
        font-size: 1.25em;
    }

}

/* ----------END OF liveDemoPage.css section.---------- */






/* The next section of this code will be new, pertaining
   to index.html. */

/* ----------START OF index.css section for index.html.---------- */

.mainBodyWrapper {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.mainBodyWrapper > p {
    color: black;
}

.mainBodyWrapper > p.nightMode {
    color: white;
}

.parallaxBG {
    height: auto;
    max-height: 100vh;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

/* #mainVideo {
    height: 100%;
} */

video {
    position: relative;
    width: auto;
    height: auto;
    left: 50%;
    z-index: -10000;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#mainVideo {
    height: 100vh;
}

#bgVideo {
    opacity: 0.3;
    top: 55%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    z-index: 1;
}

#bgVideo.nightMode {
    opacity: 1;
    -webkit-filter: brightness(.4);
    filter: brightness(.4);
}

.mainText {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 2.5%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
    z-index: 1;
}

h1 {
    color: black;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

h1.nightMode {
    color: white;
}

/* .bodySection:before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: auto;
    transform: translate3d(0, 0em, -250em) scale(1.2);
    transform-origin: 0 0;
    background: no-repeat center/auto fixed border-box url("https://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");
    background-size: cover; /*url("https://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg") */
    /*-webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
} */

.bodySection {
    display: block;
    position: relative;
    width: auto;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    transform-origin: 50% 50%;
    -webkit-filter: brightness(1);
    filter: brightness(1);
    z-index: 1;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
    /* box-shadow: 0 0 40px 80px rgba(255, 255, 255, 0.4) inset, 0 0 40px 80px rgba(255, 255, 255, 0.4); */
}

.bodySection:nth-child(2n + 1) {
    z-index: 1;
}

.bodySection:nth-child(2n + 2) {
    z-index: 1;
}

.bodySection.nightMode {
    background-color: black;
}

/* #section1 {
    background: no-repeat center/auto fixed border-box url("http://wptest.io/demo/wp-content/uploads/sites/2/2012/12/unicorn-wallpaper.jpg");
} */

#section1, #section2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-height: 100vh;
    background: white;
    overflow-x: hidden;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

#section3 {
    z-index: 1;
    opacity: 1;
}

.bgImage:before {
    transform: scale(2);
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    /* background: yellow; */
    transform: translate(0%, 0%);
    z-index: -1;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.sectionGrid, .sectionHeading, .galleryGrid, .subSectionGrid, .galleryImage, .galleryText {
    border: 2px solid black;
    /* border-radius: 10%; */
}

/* .flexSection {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    /* vertical-align: middle; */
    /* padding: 2.5% 2.5%;
    width: 100%;
    min-height: 100vh;
    height: auto;
} */

.sectionHeading {
    flex: 0.25;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5%;
    width: 100%;
    height: 100%;
    max-height: 20vh;
    overflow: hidden;
}

.sectionGrid, .mediaGrid {
    display: flex;
    flex-direction: column;
    flex: 10;
    position: relative;
    top: 0;
    left: 0;
    justify-content: flex-start;
    width: 100vw;
    height: 100%;
    max-height: 80vh;
}

.galleryGrid {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80vh;
    max-height: 80vh;
    overflow: hidden;
}

.subSectionGrid, .mediaSubSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    min-width: 100vw;
    width: auto;
    height: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.galleryImage, .mediaImage {
    display: block;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: no-repeat center/auto border-box url('https://orig00.deviantart.net/e440/f/2015/106/1/a/zany_warners_better_quality_by_mrmenworld2010-d85vsi6.png');
}

.galleryText {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5%;
    width: 100%;
    max-height: 20vh;
}

.sectionArrows {
    position: absolute;
    padding: 2.5%;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255, 0.8);
    color: black;
    font-weight: bold;
    font-size: 150%;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition:  0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition:  0.3s ease-in-out;
}

.sectionArrows.nightMode {
    background: rgba(0,0,0, 0.8);
    color: white;
}

#leftArrow {
    position: absolute;
    left: 3%;
    top: 40%;
    width: auto;
    height: auto;
}

#rightArrow {
    position: absolute;
    right: 3%;
    top: 40%;
    width: auto;
    height: auto;
}

#bg1 {
    /* background: no-repeat center/auto fixed border-box url("http://wptest.io/demo/wp-content/uploads/sites/2/2012/12/unicorn-wallpaper.jpg"); */
}

#bg3 {
    background: no-repeat center/auto fixed border-box url("http://wptest.io/demo/wp-content/uploads/sites/2/2012/12/unicorn-wallpaper.jpg");
}

#bg4 {
    background: no-repeat center/auto fixed border-box url("https://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");
}

.filter {
    width: 100%;
    height: 100%;
    padding: 2.5% 2.5%;
    z-index: 3;
}


#section3 {
    position: relative;
    height: 100%;
    z-index: 2;
}

#bgVideo1 {
    position: relative;
    width: 100vw;
    height: auto;
    -webkit-transform:translateX(-50%) translateY(0%);
    -moz-transform:translateX(-50%) translateY(0%);
    transform:translateX(-50%) translateY(0%);
    z-index: 2;
}


@media screen and (max-width: 249px) {



}

@media screen and (min-width: 250px) and (max-width: 650px) {



}

@media screen and (max-width: 650px) {



}

@media screen and (min-width: 651px) and (max-width: 830px) {



}

@media screen and (min-width: 651px) {



}

@media screen and (min-width: 831px) {



}

/* ----------END OF index.css section for index.html.---------- */

/* Below is a boilerplate for media query checkpoints. */
@media screen and (max-width: 249px) {



}

@media screen and (min-width: 250px) and (max-width: 600px) {



}

@media screen and (max-width: 600px) {



}

@media screen and (min-width: 601px) and (max-width: 830px) {



}
