.projectBody {
    overflow-y: hidden;
}
.fullPage, .navigation {
    border: 1px solid red;
}

.project {
    padding: 5%;
}

.projectSpacing {
    position: relative;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    z-index: 5;
}

.tabSection {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: visible;
}

.tab {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 400px;
    padding: 2.5em;
}

#projectMenu {
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 1em;
    right: 0;
    bottom: 0;
    height: 100%;
}

@media screen and (max-width: 475px) {
    .workMenuButton {

    }
}
